<div class="heading">
  <h2>Welcome to {{title}}</h2>
  </div>
  
  <div>
    <ul>
     <li> <a routerLink="/addSubject">Add Subject</a></li>
     <li> <a routerLink="/updateSubject">Update Subject</a></li>
     <li><a routerLink="/subjectList">All Subject List</a></li>
     <li><a routerLink="/subjectById">Search Subject By Id</a></li>
     <li><a routerLink="/deleteSubject">Delete Subject By Id</a></li>
    </ul>
  </div>
  <div>
    <ul>
     <li> <a routerLink="/addTeacher">Add Teacher</a></li>
     <li> <a routerLink="/updateTeacher">Update Teacher</a></li>
     <li><a routerLink="/teacherList">All Teacher List</a></li>
     <li><a routerLink="/teacherById">Search Teacher By Id</a></li>
     <li><a routerLink="/deleteTeacher">Delete Teacher By Id</a></li>
    </ul>
  </div>
  <div>
    <ul>
     <li> <a routerLink="/addStudent">Add Student</a></li>
     <li> <a routerLink="/updateStudent">Update Student</a></li>
     <li><a routerLink="/studentList">All Student List</a></li>
     <li><a routerLink="/studentById">Search Student By Id</a></li>
     <li><a routerLink="/deleteStudent">Delete Student By Id</a></li>
    </ul>
  </div>
  <div>
    <ul>
     <li> <a routerLink="/addClass">Add Class</a></li>
     <li> <a routerLink="/updateClass">Update Class</a></li>
     <li><a routerLink="/classList">All Class List</a></li>
     <li><a routerLink="/classById">Search Class By Id</a></li>
     <li><a routerLink="/deleteClass">Delete Class By Id</a></li>
    </ul>
  </div>
  <br/>
    
  <div align="center">
    <router-outlet></router-outlet>
  </div>
  